* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container-box{
    padding: 1rem;
    margin: 0.1rem;
    text-align: center;
    min-height: 400px;
    background-color: #2e3a46;
}
h2 {
    font-size: 33px;
    color: white;
    width: 80%;
    margin: 20px auto;
}
p {
    margin: -0.3rem;
    color: rgb(186, 175, 175);
}
img {
    width: 100%;
}
  